asteval==0.9.31
CoolProp==6.5.0.post1
cycler==0.11.0
future==0.18.3
kiwisolver==1.4.5
lmfit==1.2.2
matplotlib==3.7.2
numpy==1.25.2
pandas==2.1.0
python-dateutil==2.8.2
pytz==2023.3
scipy==1.11.2
six==1.16.0
uncertainties==3.1.7
XlsxWriter==3.1.2
